.leaflet-container .leaflet-marker-pane img {
	max-height: 50px !important;
	max-width: 50px !important;
}

.h-100 {
	height: 100%;
}

.side-image {
	padding: 5px 10px;
}

.components-reconnect-overlay p {
	color: black;
}
