<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link href="App1.WebApp.styles.css" rel="stylesheet" />
    <link href="_content/App1Shared/site.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="_content/App1Shared/favicon.png" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
